.navbar-brand{
    font-size: 25px;
    padding-top: 3px;
    color:wheat;
}
.navbar{
    padding-left: 30px;
    background-color: rgb(9, 35, 83);
}
.nav-item{
    padding-left: 10px;
    color:aliceblue;
}
.nav-link{
    color:aliceblue;
}
.navbar-brand:hover{
    color:aliceblue;
}
.nav-link:hover{
    color:wheat;
}
.dropdown-item{
    background-color: rgb(9, 35, 83);
    color:aliceblue;
    border:none;
}
.dropdown-item:hover{
    color:rgb(9, 35, 83);
    background-color: rgb(243, 221, 195);
}
.navbar-toggler{
   background-color: wheat;
   color:rgb(9, 35, 83);
}
.navbar-toggler-icon{
    color: rgb(9, 35, 83);
}
.active a{
    color:wheat;
}
.d-block{
    height:500px;
    width:100%;
}
body{
    background-color:bisque;
}
h3{
    color:bisque;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.s1{
    font-size: 18px;
    margin-top: 40px;
    font-weight: 400;
    color: rgb(125, 102, 60);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 17px;
}
.sliders{
    margin-top: 5px;
}
.scrol2{
    /* Used to enable scrolling */
    background: linear-gradient(100deg, rgb(239, 234, 224) 0%, rgb(237, 218, 184) 30%, rgb(239, 205, 141) 50%);
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 20px;
}
.space2{
    padding-top: 20px;
    font-size: 30px;
    font-style: italic;
}
.slogan1{
    margin: auto;
    width: 50%;
    font-weight: 350;
    border: 3px solid none;
    padding: 10px;
    text-align: center;
}
.space2{
    text-align: center;
    margin-left: 20px;
    color: aliceblue;
}
.info{
    text-align: center;
    padding-top: 70px;
    border: 3px solid none;
    margin-left: 10px;
    margin-right: 10px;
}
.abt{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(125, 102, 60);
    font-weight: 350;
    font-size: 17px;
    font-weight: 350;
    margin-bottom: 40px;
}
.abt h5{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 25px;
}
.feature{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/bg5.jpg) center/cover no-repeat fixed;
    padding-top: 20px;
    padding-bottom: 80px;
}
.work-bottom h2{
    color: bisque;
    text-align: center;
    padding-top: 40px;
}
.img-grp{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-right: 25px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.feature h2{
    color: bisque;
    text-align: center;
    margin-bottom: 50px;
}
.work a h2:hover{
    text-decoration: underline solid bisque;
}
.img-grp{
    transition:transform 0.4s ease;
}
.img-grp:hover{
    transform: scale(1.1);
}
.container2{
    margin-top: 90px;
    margin-right: 30px;
    margin-left: 30px;
}
.inline{
    display: inline-block;
    overflow: hidden;
    height: 550px;
    width: 550px;
    padding-left: 20px;
}
.inline h5{
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 70px;
    margin-top: 40px;
    color: rgb(125, 102, 60);
}
.inline h2{
    letter-spacing: 1px;
    text-align: left;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 70px;
    color: rgb(125, 102, 60);
}
.inline p{
    padding-left: 70px;
    color: rgb(125, 102, 60);
    font-weight: 350;
}
.mane{
    padding-top: 5px;
    letter-spacing: 2px;
    font-weight: 350;
}
.algrig{
    align-items: right;
    justify-content: right;
    margin-left: 500px;
}
.overlap div h5{
    letter-spacing: 2px;
    font-size: 15px;
    color: rgb(125, 102, 60);
    padding-top: 40px;
}
.fit{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.fit p{
    color: rgb(125, 102, 60);
    font-weight: 350;
    color: aliceblue;
}
.overlap{
    height: 550px;
    width: 100%;
    position: relative;
    background-color: rgb(248, 212, 169);
    margin-top: 40px;
    padding-top: 60px;
}
.fit h2{
    font-size: 25px;
    letter-spacing: 1px;
    color: aliceblue;
}
.overlap img{
    padding-left: 110px;
}
.enquire{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/enquire.jpg) center/cover no-repeat fixed;
}
.enquire .align h5{
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    color: bisque;
    padding-top: 10px;
}
.enquire .align h2{
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    color: bisque;
    padding-top: 5px;   
}
.enquire .align p{
    text-align: center;
    font-weight: 350;
    color: bisque;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 15px;
}
.but1{
    align-items: center;
    margin-left: 47%;
    transition-duration: 0.5s;
    background-color: bisque;
    color: rgb(207, 136, 49);
    border-radius: 10px;
    border: 2px solid rgb(204, 149, 82);
}
.but1:hover{
    border: 2px solid bisque;
    border-radius: 10%;
    color: bisque;
    background-color: rgb(207, 136, 49);
}
.last{
    padding-top: 60px;
    padding-bottom: 90px;
}
.abtpic{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 46%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.cen{
    text-align: center;
    font-size: 25px;
    color:rgb(125, 102, 60);
    letter-spacing: 2px;
    padding-left: 10px;
    padding-top: 20px;
}
.enquire a h2:hover{
    text-decoration:underline bisque;
}
.tog{
    display: inline;
    padding-left: 28px;
    color: rgb(125, 102, 60);
    margin-bottom: 40px;
}
.flex{
    margin-left: 32%;
}
.last a h4{
    text-align: center;
    padding-left: 15px;
    color: rgb(125, 102, 60);
    padding-bottom: 20px;
}
.tog a{
    color: rgb(125, 102, 60);
    margin-bottom: 40px;
}