.navbar-brand{
    font-size: 25px;
    padding-top: 3px;
    color:wheat;
}
.navbar{
    padding-left: 30px;
    background-color: rgb(9, 35, 83);
}
.nav-item{
    padding-left: 10px;
    color:aliceblue;
}
.nav-link{
    color:aliceblue;
}
.navbar-brand:hover{
    color:aliceblue;
}
.nav-link:hover{
    color:wheat;
}
.dropdown-item{
    background-color: rgb(9, 35, 83);
    color:aliceblue;
    border:none;
}
.dropdown-item:hover{
    color:rgb(9, 35, 83);
    background-color: rgb(243, 221, 195);
}
.navbar-toggler{
   background-color: wheat;
   color:rgb(9, 35, 83);
}
.navbar-toggler-icon{
    color: rgb(9, 35, 83);
}
.active a{
    color:wheat;
}
.d-block{
    height:500px;
    width:100%;
}
body{
    background-color:bisque;
}
.workname{
    text-align: center;
    border: 3px solid none;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#nmae{
    color: rgb(125, 102, 60);
    text-shadow: 2px 2px rgb(224, 180, 125);
    text-align: center;
}
.main{
    justify-content: center;
}
.photograph-display{
    justify-content: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
    background-color: rgb(245, 231, 212);
}
.image-fluid:hover{
    transform: scale(1.05);
}
.tags{
    justify-content: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
    background-color: rgb(245, 231, 212);
}
#name{
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgb(125, 102, 60);
    text-shadow: 2px 2px rgb(224, 180, 125);
    text-align: center;
}
.image-fluid1:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
.image-fluid1{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.fea{
    margin-top: 70px;
    margin-bottom: 60px;
}
.pop{
    justify-content: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 15px;
    background-color: rgb(245, 231, 212);
}
.image-fluid2{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.image-fluid2:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
.nm{
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgb(125, 102, 60);
    text-shadow: 2px 2px rgb(224, 180, 125);
    text-align: center;
}
.back{
    margin-top: 50px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/bg4.jpg) center/cover no-repeat fixed;
    padding-top: 50px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    margin-top: 5px;
}
.image-fluid3{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
#spa{
    margin-left: 18px;
}
.image-fluid3:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.back2{
    margin-top: 50px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/bg3.jpeg) center/cover no-repeat fixed;
    padding-top: 50px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    margin-top: 5px;
}
.back3{
    margin-top: 50px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/bg2.jpg) center/cover no-repeat fixed;
    padding-top: 50px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    margin-top: 5px;
}

.container-img {
    position: relative;
    width: 400px;
    text-align: center;
    display: inline-block;
    
  }
  
  .image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-img:hover .image {
    opacity: 0.3;
    
  }
  
  .container-img:hover .middle {
    opacity: 1;
  }

  .blur-img:hover{
    filter: blur(2px);
  -webkit-filter: blur(2px);
  }
  
  .text {
    color: aliceblue;
    font-size: 28px;
    padding: 16px 32px;
  }
  